/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizare body, nav, header, footer din fiecare pagina */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: aliceblue;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header { 
    display: flex; 
    flex-direction: row;    /* aliniate orizonal pe axa principala */
    align-items: center;    /* aliniate central pe axa transversala */
    background-color:#407ecf;
}

header img {
    margin: 10px;
}

header h1 {
    font-family:'Courier New';
    font-style: italic;
    font-size: 60px; 
    color:#e1e6ed;
}

nav{
    background-color: #3a7ef2;
    text-align: left;
    padding: 15px;
    font-size: 1.2em;
}

nav a{
    padding: 8px 16px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

nav a:hover{
    background-color: pink;
    color: #407ecf;
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: column;     /* aliniere pe verticala */
    align-items: center;        /* aliniere pe orizonatala */
    background-color: #407ecf; 
    color: white; 
    padding: 5px; 
    font-family: Arial, sans-serif; 
    font-size: 1.2em; 
    margin-top: 50px;
}



/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizare continut acasa.html */
#acasa h2{
    font-size: 2em;
    padding-left: 20px;
    color: #407ecf;
}
#acasa p{
    padding-left: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li{
    padding: 10px; 
    font-size: 1.1em;
}

ul li b {
    font-size: 1.2em;
    color: #407ecf;
}
li b:hover{
    background-color: pink;
    padding: 5px;
}





/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizarea tabelului din pagina despre.html */
table{
    /* border: 1px solid black; */
    border-collapse: collapse;
    background-color: beige;
}
td{
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
}
#s2{
    font-size: 1.1em;
    padding-top: 10px;
}

#s1, #s3, #s4{
    font-size: 1.1em;
    padding: 2px;
}
#s1 a, #s3 a{
    white-space: nowrap;
}
#p1{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.3em;
}
ol li{
    padding: 2px;
}




/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizare formular din pagina inregistreaza.html */
input::placeholder{
    color:#3a7ef2;
    opacity: 0.5;
}

select{
    width: 15%;
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
}

label{
    font-family:Arial, Helvetica, sans-serif;
    color:darkred;
    padding: 5px;
    margin-bottom: 10px; 
    display: inline-block;   
}

legend{
    font-weight: bold;
    color: darkred;
    font-size: 1.2em;
    padding: 15px;
    margin: 8px;
    display: inline-block;
}

button{
    color: darkred;
    background-color:white;
    height: 3em;
    width: 9em;
    font-size: medium;
    margin: 5px;
    border: 2px solid #3a7ef2;
    cursor: pointer;
    border-radius: 25px;
    /* margin-bottom: 5px; */
}
button:hover {
    background-color: #20608B;
    font-size: large;
}

fieldset{
    margin: 5px;
    border: 2px solid #3a7ef2;
    border-radius: 25px;
}




/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 5 elemente specifice CSS3 aplicate paginii despre.html*/

/* Gradients */
#grad{
    height: 50px;
    background-image: linear-gradient(white, #3a7ef2);
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: black;
}

/* Rounded Corners */
.rcorners{
    font-size: large;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #3a7ef2;
    padding: 20px; 
    width: 100px;
    height: 50px;
    text-align: center;
    padding-bottom: 3px;
}

/* Text Overflow */
.textEffect{
    white-space: nowrap; 
    width: 200px; 
    border: 2px solid #3a7ef2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
}

.textEffect:hover{
    overflow: visible;
    white-space: wrap; 
    text-align: center;
}

/* Transition + Transformation */
#t:hover{
    transition: width 2s, height 2s, transform 2s;
    transform: rotate(180deg);
}


/* Animation */
.animation{
    width: 400px;
    height: 30px;
    background-color: red;
    animation-name: example;
    animation-duration: 5s;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    text-align: left;
  }
  
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }






  /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* print friendly */
@media print {
    nav, footer {
      display: none;
    }
  
    
    body {
      background-color: white;
      color: black; 
      font-family: 'Times New Roman', Times, serif; 
      font-size: 12pt;
    }
  
   
    @page {
      margin: 2cm;
    }
  
    
    h1, h2, h3 {
      font-weight: bold;
      font-size: 14pt;
    }

    p {
      line-height: 1.6;
      margin-bottom: 10mm;
    }
  
    input::placeholder, textarea::placeholder {
      visibility: hidden;
    }

    .animation
    {
        animation: none;
        background-color: white;
        font-size: 14pt;
    }

    .rcorners, .textEffect, #grad {
      border: none;
      background: none;
      overflow: visible;
    }
  }
  


/* ------------------------------------------------------------------------------------------------------------ */
/* Media query pentru ecranelor mici (telefoane mobile) */
@media (max-width: 600px) {
    body {
      font-size: 14px; 
      padding: 10px; 
    }
  
    header {
      flex-direction: column; 
      align-items: center;
      text-align: center;
      padding: 10px 0;
    }

    header h1 {
        font-size: 1.5em;
    }
    
    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* Aspect ratio 16:9 */
        height: 0;
        overflow: hidden;
    }

    .container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    nav {
      text-align: center;
      padding: 5px 0;
      /* padding: 10px; */
    }
  
    nav a {
      display: block; 
      margin-bottom: 5px;
      font-size: 0.9em;
    }
  
    footer {
      font-size: 12px; 
      padding: 5px;
    }

    select {
        width: 200px; /* sau o altă valoare potrivită */
    }

    
    /* p {
        text-align: justify;
    } */

    #draw canvas {
        max-width: 100%; /* Limitează lățimea maximă la 100% din container */
        height: auto; /* Păstrează aspect ratio-ul */
    }

    #info,  #table, #draw{
        align-items: center;
    }

    #info h1, #table h1, #draw h1 {
        font-size: 1.3rem;
    }

    #info h3 {
        font-size: 1.1rem;
    }

    #info p, #table p {
        font-size: 1rem;
    }


    #draw button, #table button {
        font-size: 1rem;
    }


    #table label, #draw label {
        font-size: 1rem;
    }

    #table table {
        display: block; 
        overflow-x: auto; 
        white-space: nowrap; 
    }

    #table th,
    #table td {
        white-space: nowrap; 
    }
    aside {
        width: 50px;          
        max-width: 50px;   
        margin: 0;            
        padding: 2px;         
        font-size: 0.6em;    
    }
    
    
    aside a {
        text-align: center;
        display: block;        
        font-size: 0.4em;      
        padding: 2px 0;        
        margin-bottom: 2px;    
        white-space: nowrap;   
        overflow: hidden;      /* Ascunde continutul care depaseste */
        text-overflow: ellipsis; /* Adauga "..." daca textul depaseste */
    }
  }
  


/* ------------------------------------------------------------------------------------------------------------ */
/* Galeria video din video.html */
.gallery {
    display: flex;
    flex-wrap: wrap;            /* permite impartirea elementelor pe mai multe linii */
    flex-direction: row;        /* aliniere pe orizonatala */
    justify-content: center;    /* aliniere centrata pe verticala */ 
}

.gallery iframe {
    margin: 10px;
    border: 5px solid #ccc;
}

.gallery iframe:nth-child(1) {
    width: 450px;
    height: 250px;
}

.gallery iframe:nth-child(2) {
    width: 350px;
    height: 250px;
}

.gallery iframe:nth-child(3) {
    width: 250px;
    height: 200px;
}

.gallery iframe:nth-child(4) {
    width: 250px;
    height: 130px;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Pagina Invat.html */
/* Aside */
aside {
    width: 500px;                  /* latimea pentru aside */
    background-color: #f9f9f9;     
    padding: 15px;                 /* spatiu interior */
    border-radius: 10px;           
    font-family: Arial, sans-serif; 
    position: fixed;                /* fixare aside pe pagina */
    margin-top: 2px;                     /* margine sus */
    right: 20px;                    /* margine dreapta */
    border: 2px solid #3a7ef2;           
}


aside a {
    text-align: center;
    display: block;               
    color: #3a7ef2;                  
    text-decoration: none;        
    font-size: 25px;              
    padding: 10px 0;              
    margin-bottom: 10px;      
}


aside a:hover {
    background-color: #ee82ee;     /* culoare de fundal la hover */
    color: white;                  /* culoare text la hover */
    border-radius: 5px;            /* colturi rotunjite la hover */
    padding: 15px;            /* adaugare spatiu la stanga la hover */
}

canvas{
    border:2px solid black
}
.row-delimiter{
    height: 15px;
}
.column-delimiter{
    width: 50px;
}


/* Stiluri pentru sectiuni */
#info, #draw, #table {
    background-color: #f9f9f9;      
    padding: 20px;                   
    margin: 20px;              
    width: 60%;                      
    border-radius: 10px;             
    font-family: 'Arial', sans-serif; 
}


#info h1, #draw h1, #table h1 {
    color: #3a7ef2;                    
    font-size: 28px;                 
    text-align: center;              
    margin-bottom: 15px;             
}

#info h3, #draw label, #table label{
    color: #555;                    
    font-size: 20px;                 
    margin-top: 15px;                
    margin-bottom: 5px;              
}


#dataTimp, #url, #locatie, #browser, #sistemOperare, #table p {
    color: #666;                     
    font-size: 16px;                 
    margin-bottom: 20px;             
    color: #333;                    
}


#info:hover, #draw:hover, #table:hover {
    background-color: #f1f1f1;       
    
}

/* Stiluri pentru canvas */
#draw canvas {
    display: block;                   /* face canvas-ul un element block */
    margin: 20px auto;                /* centrarea canvas-ului pe pagina */

}

#first-row{
    font-size: 1.2em;
    color:darkred;
    font-weight: bold;
}
