/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizare body(nav, header, footer) din fiecare pagina */
body{
    font-family: Arial, sans-serif;
    color: #333;
    background-color: aliceblue;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header { 
    display: flex; 
    flex-direction: row;    /* aliniate orizonal pe axa principala */
    align-items: center;    /* aliniate central pe axa transversala */
    background-color:#407ecf;
}

header img {
    margin: 10px;
}

header h1 {
    font-family:'Courier New';
    font-style: italic;
    font-size: 4em;     /* 4 x 16px */
    color:#e1e6ed;
}

nav{
    background-color: #3a7ef2;
    text-align: left;
    padding: 15px;
}

nav a{
    padding: 8px 16px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;   /* 1.5 x 16px */
}

nav a:hover{
    background-color: pink;
    color: #407ecf;
    text-decoration: underline;
    font-size: 1.7em;
    font-weight: bold;
}

footer{
    background-color: #407ecf; 
    color: white; 
    padding: 5px; 
    font-size: 1.2em; 
    margin-top: 50px;
    text-align: center;
}



/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizare continut acasa.html */
#acasa h2{
    font-size: 2em;
    padding-left: 20px;
    color: #407ecf;
}
#acasa p{
    font-size: 1.3em;
    padding-left: 10px;
}
ul {
    padding: 0;
}
ul li{
    padding: 10px; 
    font-size: 1.1em;
}

ul li b{
    font-size: 1.2em;
    color: #407ecf;
}
li b:hover{
    background-color: pink;
    padding: 5px;
}



/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizarea tabelului din pagina despre.html */
table{
    border-collapse: collapse;
    background-color: beige;
    border: 2px solid black;
}
td{
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
}

#s1, #s2, #s3, #s4{
    margin: 10px 50px;
    border: 2px solid white;
    background-color: white;
    font-size: 1.1em;
    padding: 5px;
}

#s1 a, #s3 a{
    white-space: nowrap;
}
#p1{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.3em;
}
ol li{
    padding: 2px;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 5 elemente specifice CSS3 aplicate paginii despre.html*/

/* Gradients */
#grad{
    height: 50px;
    background-image: linear-gradient(white, #3a7ef2);
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: black;
}

/* Rounded Corners */
.rcorners{
    font-size: large;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #3a7ef2;
    padding: 20px; 
    width: 100px;
    height: 50px;
    text-align: center;
    padding-bottom: 5px;
}

/* Text Overflow */
.textEffect{
    white-space: nowrap; 
    width: 200px; 
    border: 2px solid #3a7ef2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
}

.textEffect:hover{
    overflow: visible;
    white-space: wrap; 
    text-align: center;
}

/* Transition + Transformation */
#t:hover{
    transition: transform 2s;
    transform: rotate(180deg);
}


/* Animation */
.animation{
    width: 400px;
    height: 30px;
    background-color: red;
    animation-name: example;
    animation-duration: 3s;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    text-align: left;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }



/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizare formular din pagina inregistreaza.html */
#inregistrare{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input::placeholder{
    color:#3a7ef2;
}

select{
    width: 30%;
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
}

label{
    font-family:Arial, sans-serif;
    color:darkred;
    padding: 5px;
    margin-bottom: 10px; 
    display: inline-block;      /*pentru a tine cont de margin/padding pe verticala*/
}

legend{
    font-weight: bold;
    color: darkred;
    font-size: 1.2em;
    padding: 15px;
    margin: 8px;
}

button{
    color: darkred;
    background-color:white;
    /* relative la dimensiunea curenta = cat cuprinde textul */
    height: 3em;
    width: 9em;
    font-size: medium;
    margin: 5px;
    border: 2px solid #3a7ef2;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background-color: #20608B;
    font-size: large;
}

fieldset{
    margin: 5px;
    border: 2px solid #3a7ef2;
    border-radius: 25px;
}





  /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* print friendly */
@media print {
    nav {
      display: none;
    }
    
    body {
      background-color: white;
      color: black; 
      font-family: Arial;
      font-size: 12pt;      /* 1pt = 1/72 din 1in= aprox. 0.035 cm */
    }
   
    @page {
      margin: 2cm;
    }
  
    
    h1, h2, h3 {
      font-weight: bold;
      font-size: 14pt;
    }

  
    input::placeholder, textarea::placeholder {
      visibility: hidden;
    }

    .animation
    {
        animation: none;
        background-color: white;
        font-size: 14pt;
    }

    .textEffect, #grad {
      border: none;
      background: none;
      overflow: visible;
    }

  }
  


/* ------------------------------------------------------------------------------------------------------------ */
/* Media query pentru ecranelor mici (telefoane mobile) */
@media only screen and (max-width: 768px) {
    body {
      font-size: 14px; 
      padding: 10px; 
    }
  
    header {
      flex-direction: column; 
      align-items: center;
      text-align: center;
      padding: 10px 0;
    }

    header h1 {
        font-size: 2em;
    }

    nav {
        text-align: center;
        padding: 5px 0;
    }

    nav a {
        display: block; 
        margin-bottom: 5px;
        font-size: 1.2em;
    }
    
    footer {
        font-size: 12px; 
        padding: 5px;
    }

    /* pagina despre.html */
    #grad{
        height: 2em;
    }
    .animation{
        width: 80%;
        height: 2em;
    }

    #s1 a, #s3 a{
        white-space: wrap;
    }

    .responsive-iframe{
        width: 100%;
        border: none;
    }
    
    /* pagina invat.html */
    #draw canvas {
        max-width: 100%;
    }

    #table table {
        overflow-x: auto; 
    }

    #table td {
        white-space: nowrap; 
    }

    aside {
        width: 25% !important;             
        top: 20px;                    
    }
    
    
    aside a {
        text-align: left;
        white-space: nowrap;   
        overflow: hidden;      
        text-overflow: ellipsis; 
    } 


    /* tabelul din pagina persoane.html */
    .tabel-persoane{
        overflow-x: auto; 
        white-space: nowrap; 
    }

    /* pagina cumparaturi.html */
    .cumparaturi{
        max-width: 100%;
    }
    #formularCumparaturi{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }
  }


  @media (max-width: 992px) {
    .responsive-iframe{
        width: 100%;
        border: none;
    }
    
    /* pagina invat.html */
    #draw canvas {
        max-width: 100%;
    }

    #table table {
        display: block; 
        overflow-x: auto; 
    }

    #table td {
        white-space: nowrap; 
    }

    aside {
        width: 15% !important;             
        top: 20px;                    
    }
    
    
    aside a {
        text-align: left;
        white-space: nowrap;   
        overflow: hidden;      
        text-overflow: ellipsis; 
    } 

    /* tabelul din pagina persoane.html */
    .tabel-persoane{
        display: block; 
        overflow-x: auto; 
        white-space: nowrap; 
    }

  }





/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Galeria video din video.html cu CSS Flexbox */
.gallery {
    display: flex;
    flex-wrap: wrap;            /* permite impartirea elementelor pe mai multe linii */
    flex-direction: row;        /* aliniere pe orizonatala */
    justify-content: center;    /* aliniere centrata pe orizontala */ 
}

.gallery iframe {
    margin: 10px;
    border: 5px solid #ccc;
}

.gallery iframe:nth-child(1) {
    width: 450px;
    height: 250px;
}

.gallery iframe:nth-child(2) {
    width: 350px;
    height: 250px;
}

.gallery iframe:nth-child(3) {
    width: 250px;
    height: 200px;
}

.gallery iframe:nth-child(4) {
    width: 250px;
    height: 130px;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Pagina Invat.html */
/* Aside */
aside {
    width: 500px;                  
    background-color: #f9f9f9;     
    padding: 15px;               
    border-radius: 10px;           
    position: fixed;                
    margin-top: 2px;                     
    right: 20px;                    
    border: 2px solid #3a7ef2;            
}


aside a {
    text-align: center;
    display: block;               
    color: #3a7ef2;                  
    text-decoration: none;        
    font-size: 25px;              
    padding: 10px 0;              
    margin-bottom: 10px;      
}


aside a:hover {
    background-color: #ee82ee;     
    color: white;                 
    border-radius: 5px;           
    padding: 15px;            
}

/* Stiluri pentru sectiuni */
#info, #draw, #table {
    background-color: #f9f9f9;      
    padding: 20px;                   
    margin: 20px;              
    width: 60%;                      
    border-radius: 10px;             
}


#info h1, #draw h1, #table h1 {
    color: #3a7ef2;                    
    font-size: 28px;                 
    text-align: center;              
    margin-bottom: 15px;             
}

#info h3, #draw label, #table label{
    color: #555;                    
    font-size: 20px;                 
    margin-top: 15px;                
    margin-bottom: 5px;              
}


#dataTimp, #url, #locatie, #browser, #sistemOperare, #table p {
    color: #666;                     
    font-size: 16px;                 
    margin-bottom: 20px;             
    color: #333;                    
}


#info:hover, #draw:hover, #table:hover {
    background-color: #f1f1f1;       
    
}


#draw canvas {
    display: block;                   /* face canvas-ul un element block */
    margin: 20px auto;                /* centrarea canvas-ului pe pagina */
    border:2px solid black;
}

#first-row{     /* al tabelului */
    font-size: 1.2em;
    color:darkred;
    font-weight: bold;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizare pagina verifica.html */
.user-auth {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 10px auto;
}

.user-auth label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.user-auth input[type="text"], .user-auth input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;         /* include padding/margin in latime*/
}


.user-auth input[type="submit"]{
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-auth input[type="submit"]:hover {
    background-color: #2980b9;
}

.user-auth #auth{
    margin-top: 10px;
    font-size: 14px;
    color: red;
    text-align: center;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* personalizare pagina cumparaturi.html */
.cumparaturi {
    width: 600px;
    margin: 20px auto;
    border: 2px solid white;
    background-color: white;
    border-radius: 8px;
}

.cumparaturi h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 20px;
}

#formularCumparaturi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 6px;
}

#produs, #cantitate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.cumparaturi  label{
    color: black;
    font-size: 20px;
}

.cumparaturi button {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin-top: 40px;
    margin-left: 20px;
}

.cumparaturi button:hover {
    background-color: #2980b9;
}

#tabelProduse{
    background-color: aliceblue;
    margin: 20px auto;
    width: 80%;
}

thead th{
    font-weight: bold;
    font-size: 25px;
}

#stocare{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#metodaStocare{
    width: 150px;
}